# RDF - Turtle - SPARQL Sandbox

In diesem Jupyter Notebook können "Hands-On" Erfahrungen mit RDF, Turtle und SPARQL gesammelt werden. Dabei kann nichts "kaputt" gehen...

## Nötige Module importieren

Das Ausführen der nächsten Zelle dauert beim ersten mal rund 1 Minute. Jede weitere Ausführung ist dann aber deutlich schneller...

In [ ]:
%pip install -q ipywidgets==8.1.1 ipycytoscape networkx rdflib
import rdflib
import ipycytoscape as cy
import networkx as nx
import pandas as pd
import requests
from IPython.display import HTML
import urllib3
from ext.rdf import parse_and_plot, local_query, remote_query, display_result

## Grundlagendokumente

Diese technischen Dokumente sind sehr lesenwert (und für Spezifikationen auch erstaunlich leserlich geschrieben):

- [RDF Primer](https://www.w3.org/TR/rdf11-primer/)
- [Turtle](https://www.w3.org/TR/turtle/)
- [SPARQL](https://www.w3.org/TR/sparql11-query/)

## SPARQL

Mit Hilfe von SPARQL Queries können RDF Daten abgefragt werden. Im Grundprinzip gibt man Query Patterns vor, die in den RDF Daten gesucht werden. Diese RDF Daten können von einem lokalen File kommen, oder von einem Triple Store, auf den über das Internet zugegriffen wird.

### Universale Query auf lokale Daten

Die nachfolgende Query ist die *universale Query*, die alle Triples in den Daten zurückgibt:

In [ ]:
ttl_string = """

@prefix ex: <https://example.com/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

ex:KingCharles ex:hasChild ex:PrinceHarry ;
    ex:isKingOf ex:England ;
    ex:hasMother ex:QueenElizabeth ;
    ex:numberOfChildren 2 ;
    ex:fullName "Charles Philip Arthur George" ;
    ex:birthDate "1948-11-14"^^xsd:date .

ex:PrinceHarry ex:hasSibling ex:PrinceWilliam.
ex:QueenElizabeth ex:hasChild ex:KingCharles.
ex:PrinceWilliam ex:hasSibling ex:PrinceHarry;
    ex:livesIn ex:England.

"""

plot = parse_and_plot(ttl_string)
display(plot)

query_string = """

SELECT * WHERE {

    ?s ?p ?o .

}

"""

df = local_query(ttl_string, query_string)
display_result(df)

### Abfrage nach bestimmtem Prädikat

Nachfolgende Query gibt alle Subjekte und Prädikate zurück, die über eine `ex:hasSibling` Verbindung verfügen:

In [ ]:
ttl_string = """

@prefix ex: <https://example.com/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

ex:KingCharles ex:hasChild ex:PrinceHarry ;
    ex:isKingOf ex:England ;
    ex:hasMother ex:QueenElizabeth ;
    ex:numberOfChildren 2 ;
    ex:fullName "Charles Philip Arthur George" ;
    ex:birthDate "1948-11-14"^^xsd:date .

ex:PrinceHarry ex:hasSibling ex:PrinceWilliam.
ex:QueenElizabeth ex:hasChild ex:KingCharles.
ex:PrinceWilliam ex:hasSibling ex:PrinceHarry;
    ex:livesIn ex:England.

"""

plot = parse_and_plot(ttl_string)
display(plot)

query_string = """

PREFIX ex: <https://example.com/>

SELECT * WHERE {

    ?s ex:hasSibling ?o .

}

"""

df = local_query(ttl_string, query_string)
display_result(df)

### Remote Daten abfragen

Folgende Query gibt alle Kantone zurück, die bei Lindas gespeichert sind:

In [ ]:
query_string = """

PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>

SELECT * WHERE {

    ?canton rdf:type <https://schema.ld.admin.ch/Canton>  .

}

"""

df = remote_query(query_string, "https://ld.admin.ch/query")
display_result(df)

Da `rdf:type` ein so häufiges Prädikat ist, gibt es dafür die Abkürzung `a`:

In [ ]:
query_string = """

SELECT * WHERE {

    ?canton a <https://schema.ld.admin.ch/Canton>  .

}

"""

df = remote_query(query_string, "https://ld.admin.ch/query")
display_result(df)